/* Tu archivo CSS actual */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

body, h1, h2, p, a {
  font-family: 'Roboto', sans-serif;
}

.app-bar {
  background-color: #00385d;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.app-bar-title {
  font-size: 1.5rem;
  margin: 0;
}

.app-bar-actions {
  display: flex;
}

/* Estilos para los botones de la barra de la aplicación */
.app-bar-action {
  text-decoration: none;
  color: #333; /* Cambia el color del texto según tus preferencias */
  background-color: #f0f0f0; /* Cambia el color de fondo según tus preferencias */
  padding: 10px 15px; /* Ajusta el relleno según tus preferencias */
  border-radius: 5px; /* Agrega esquinas redondeadas */
  margin-right: 10px; /* Espacio entre botones */
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color 0.3s; /* Agrega una transición de color al pasar el mouse */
}

.app-bar-action:hover {
  background-color: #555; /* Cambia el color de fondo al pasar el mouse según tus preferencias */
  color: #fff; /* Cambia el color del texto al pasar el mouse según tus preferencias */
}

.app-bar-action i {
  margin-right: 5px; /* Espacio entre el ícono y el texto */
}



