<div class="app-container">
  <!-- Estructura HTML de la barra de la aplicación -->
<div class="app-bar">
  <a class="app-bar-action" (click)="redirigirAPrincipal()" style="cursor: pointer;">
    <i class="material-icons">home</i>
  </a>

  <div class="app-bar-actions">
    <a class="app-bar-action" *ngIf="!usuarioLogueado" (click)="redirigirAuth()" style="cursor: pointer;">
      <i class="material-icons">person</i>
    </a>
    <a class="app-bar-action" *ngIf="!usuarioLogueado">
      <i class="material-icons">settings</i>
    </a>

    <!-- Botón para desplegar las opciones -->
    <div class="app-bar">

      <a class="app-bar-action" *ngIf="usuarioLogueado" (click)="redirigirTareas()" style="cursor: pointer;">
        <i class="material-icons">assignment</i> Tareas
      </a>
      <a class="app-bar-action" *ngIf="usuarioLogueado" (click)="redirigirRecientes()" style="cursor: pointer;">
        <i class="material-icons">history</i> Recientes
      </a>
      <a class="app-bar-action" *ngIf="usuarioLogueado" (click)="redirigirSubidas()" style="cursor: pointer;">
        <i class="material-icons">cloud_upload</i> Subidas
      </a>
      <a class="app-bar-action" *ngIf="usuarioLogueado" (click)="redirigirCrearTarea()" style="cursor: pointer;">
        <i class="material-icons">create</i> Crear tarea
      </a>
      <a class="app-bar-action" *ngIf="usuarioLogueado" (click)="cerrarSesion()" style="cursor: pointer;">
        <i class="material-icons">logout</i>
      </a>

    </div>
  </div>
</div>

  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <!-- <app-sidebar></app-sidebar> -->
</div>
